body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #fff1f7;
  margin: 20px;
  color: #4a154b;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

#creditos {
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

#malla {
  display: grid;
  grid-template-columns: repeat(8, minmax(220px, 1fr));
  gap: 20px;
  overflow-x: auto;
}

.semestre {
  background: #ffe0ec;
  border-radius: 16px;
  padding: 15px;
  min-width: 220px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.semestre h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 12px;
}

.curso {
  background: #f8b6d2;
  border-radius: 10px;
  padding: 9px;
  margin-bottom: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.curso:hover {
  transform: scale(1.03);
}

.curso.bloqueado {
  background: #f3cddd;
  opacity: 0.5;
  cursor: not-allowed;
}

.curso.aprobado {
  background: #d63384;
  color: white;
  text-decoration: line-through;
}

.panel {
  margin-top: 30px;
  padding: 15px;
  background: #ffe0ec;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
}
